<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Active Workspace JingL</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
	<link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="plugins/font-awesome/css/all.min.css" rel="stylesheet" />
	<link href="plugins/animate/animate.min.css" rel="stylesheet" />
	<link href="css/default/style.min.css" rel="stylesheet" />
	<link href="css/default/style-responsive.min.css" rel="stylesheet" />
	<link href="css/apple/theme/style.min.css" rel="stylesheet" />
	<link href="css/apple/theme/style-responsive.min.css" rel="stylesheet" />
	<link href="css/style.css" rel="stylesheet" />
	<link href="css/default/theme/default.css" rel="stylesheet" id="theme" />
	<link href="css/default/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body class="pace-top">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container">
		<!-- begin #top-menu -->
		
		<div class="header-menu">
			<ul class="nav">
			  <li class="nav-item text-center pull-left">
			    <a class="nav-link " href="#">
			    	<div class="icon-img mb4">
						<img class="icon-menu" src="img/ic-back-blue.png" alt="" />
					</div> 
			    </a>
			  </li>
			  <li class="nav-item justify-content-center mr-center">
					<h5 class="nav-link -ml54">Project Name</h5> 
			  </li>
			</ul>	
		</div>
		<!-- end #top-menu -->
		<div class="card-countdown shadow-lg mt20">
			<div class="countdown " id="my-countdown" data-end-date="2019-07-20T19:00:00+0200">
			    <span class="days" title="Days">0</span>
			    <span class="hours" title="Hours">0</span>
			    <span class="minutes" title="Minutes">0</span>
			</div>
		</div>

		<div class="ket-workspace col-12 mt40">
			<div class="row list-ket-workspace">
				<div class="wd-20 pd5 text-center">
				 <div class="circle-ket-workspace-done ">
				 	<span class="det-ket-project black-clr">
				 		<img src="img/ic-ceklis.png" class="ic-ket-workspace">
				 	</span>
				 </div>	
				 <p class="black-clr mt10">Project Accepted</p>
				</div>
				<div class="wd-20 pd5 text-center">
				 <div class="circle-ket-workspace ">
				 	<span class="det-ket-project black-clr">
				 		<img src="img/ic-vid.png" class="ic-ket-workspace">
				 	</span>
				 </div>	
				 <p class="black-clr mt10">Recording Process</p>
				</div>
				<div class="wd-20 pd5 text-center">
				 <div class="circle-ket-workspace ">
				 	<span class="det-ket-project black-clr">
				 		<img src="img/ic-accepted.png" class="ic-ket-workspace">
				 	</span>
				 </div>	
				 <p class="black-clr mt10">Material Accepted</p>
				</div>
				<div class="wd-20 pd5 text-center">
				 <div class="circle-ket-workspace ">
				 	<span class="det-ket-project black-clr">
				 		<img src="img/ic-completed.png" class="ic-ket-workspace">
				 	</span>
				 </div>	
				 <p class="black-clr mt10">Project Completed</p>
				</div>
				<div class="wd-20 pd5 text-center">
				 <div class="circle-ket-workspace ">
				 	<span class="det-ket-project black-clr">
				 		<img src="img/ic-rate-talent.png" class="ic-ket-workspace">
				 	</span>
				 </div>	
				 <p class="black-clr mt10">Rate Talent</p>
				</div>
			</div>
			
		</div>

		<div class="card-content-tab-menu mt20">


			<!-- begin nav-pills -->
					<ul class="nav nav-tab-menu nav-pills">
						<li class="nav-items wd-50 br-rg">
							<a href="#nav-pills-tab-1" data-toggle="tab" class="nav-link pd5 active">
								<span class="">Brief Detail</span>
							</a>
						</li>
						<li class="nav-items wd-50">
							<a href="#nav-pills-tab-2" data-toggle="tab" class="nav-link pd5">
								<span class="">Draft</span>
							</a>
						</li>
					</ul>
					<!-- end nav-pills -->
					<!-- begin tab-content -->
					<div class="tab-content mt10">
						<!-- begin tab-pane -->
						<div class="tab-pane fade active show mb50" id="nav-pills-tab-1">
							<ul class="nav flex-column">
							  <li class="nav-item">
							    	<h6 class="title-work fw-600">Brief :</h6>
							    	<p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut laboreLorem </p>
							  </li>
							  <li class="divider-btm-w"></li>
							  <li class="nav-item mt20">
							    	<h6 class="title-work fw-600">Do’s :</h6>
							    	<p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore Lorem. Ipsum dolor sit amet, consectetur adipiscing elit. </p>
							  </li>
							  <li class="nav-item">
							    	<h6 class="title-work fw-600">Dont’s :</h6>
							    	<p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore Lorem. Ipsum dolor sit amet, consectetur adipiscing elit. </p>
							  </li>
							  <li class="divider-btm-w"></li>
							  <li class="nav-item mt20">
							    	<h6 class="title-work fw-600">Platform :</h6>
							    	<p class="">Facebook</p>
							  </li>
							</ul>
						</div>
						<!-- end tab-pane -->
						<!-- begin tab-pane -->
						<div class="tab-pane fade" id="nav-pills-tab-2">
							<div class="close-content mt40 text-center">
								<div class="close-content text-center">
								<img src="img/bg-empty.png" class="mx-auto d-block img-close-content mt20">
								<h6 class="m-t-10 blue-clr">Restricted Access</h6>
								<p>
									This page is accesible only for Talent
								</p>
							</div>
							</div>
						</div>
						<!-- end tab-pane -->
					</div>
					<!-- end tab-content -->

		</div>
	</div>
	<!-- end page container -->

	<!-- Footer -->
	<footer class="page-footer top-shadow">
		<div class="col-12 text-center">
			<div class="row">
				<div class="col-3">
					
				</div>
				<div class="col-6">
					<button class="btn btn-blue-help ">Help</button>
				</div>
				<div class="col-3">
					
				</div>
			</div>	
		</div>
	</footer>
	<!-- Footer -->
	
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="plugins/jquery/jquery-3.3.1.min.js"></script>
	<script src="plugins/jquery-ui/jquery-ui.min.js"></script>
	<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!--[if lt IE 9]>
		<script src="crossbrowserjs/html5shiv.js"></script>
		<script src="crossbrowserjs/respond.min.js"></script>
		<script src="crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script type="text/javascript">
		const countdown = document.getElementById('my-countdown');
	const endDate = new Date(countdown.dataset.endDate);
	const endTimestamp = endDate.getTime();

	window.setInterval(() => {
	    let nowTimestamp = Date.now();
	    let deltaT = Math.abs(endTimestamp - nowTimestamp) / 1000;
	    
	    let days = 0;
	    let hours = 0;
	    let minutes = 0;
	    
	    
	    if (nowTimestamp < endTimestamp) {
	        days = Math.floor(deltaT / 86400);
	        deltaT -= days * 86400;
	        hours = Math.floor(deltaT / 3600) % 24;
	        deltaT -= hours * 3600;
	        minutes = Math.floor(deltaT / 60) % 60;
	        deltaT -= minutes * 60;
	        
	    }
	    
	    countdown.children[0].innerHTML = days;
	    countdown.children[1].innerHTML = hours;
	    countdown.children[2].innerHTML = minutes;
	    
	}, 1000);
	</script>
	<script src="plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="plugins/js-cookie/js.cookie.js"></script>
	<script src="js/theme/default.min.js"></script>
	<script src="js/apps.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>
</body>
</html>
