<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Sign Up</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="~template/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
	<link href="~template/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~template/plugins/font-awesome/css/all.min.css" rel="stylesheet" />
	<link href="~template/plugins/animate/animate.min.css" rel="stylesheet" />
	<link href="~template/css/default/style.min.css" rel="stylesheet" />
	<link href="~template/css/default/style-responsive.min.css" rel="stylesheet" />
	<link href="~template/css/apple/theme/style.min.css" rel="stylesheet" />
	<link href="~template/css/apple/theme/style-responsive.min.css" rel="stylesheet" />
	<link href="~template/css/style.css" rel="stylesheet" />
	<link href="~template/css/default/theme/default.css" rel="stylesheet" id="theme" />
	<link href="~template/css/default/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->

	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="~template/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
	<link href="~template/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
	<link href="~template/plugins/ionRangeSlider/css/ion.rangeSlider.css" rel="stylesheet" />
	<link href="~template/plugins/ionRangeSlider/css/ion.rangeSlider.skinNice.css" rel="stylesheet" />
	<link href="~template/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
	<link href="~template/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
	<link href="~template/plugins/password-indicator/css/password-indicator.css" rel="stylesheet" />
	<link href="~template/plugins/bootstrap-combobox/css/bootstrap-combobox.css" rel="stylesheet" />
	<link href="~template/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
	<link href="~template/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
	<link href="~template/plugins/jquery-tag-it/css/jquery.tagit.css" rel="stylesheet" />
	<link href="~template/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
	<link href="~template/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
	<link href="~template/plugins/bootstrap-eonasdan-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
	<link href="~template/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css" rel="stylesheet" />
	<link href="~template/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.css" rel="stylesheet" />
	<link href="~template/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-fontawesome.css" rel="stylesheet" />
	<link href="~template/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-glyphicons.css" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="~template/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body class="pace-top">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container">
		<!-- begin login -->
		<div class="col-12 text-center">
			<h5 class="register-header mt30">
				Sign Up!
			</h5>
		</div>
		
		<div class="register-content mt30 panel-body panel-form form-signup">
					<form class="form-horizontal form-bordered">
						<div class="form-group row">
							<div class="col-lg-12 col-md-12">
								<input type="text" name="" id="jquery-autocomplete" class="form-control" placeholder="First Name" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-12 col-md-12">
								<input type="text" name="" id="jquery-autocomplete" class="form-control" placeholder="Last Name" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-12 col-md-12">
								<input type="text" name="" id="jquery-autocomplete" class="form-control" placeholder="Email" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-12 col-md-12">
								<select class="form-control border-radius20 selectpicker" data-size="10" data-live-search="true" data-style="btn-white">
									<option value="" selected>Country</option>
									<option value="AF">Afghanistan</option>
									<option value="AL">Albania</option>
									<option value="DZ">Algeria</option>
									<option value="AS">American Samoa</option>
									<option value="AD">Andorra</option>
									<option value="AO">Angola</option>
									<option value="AI">Anguilla</option>
									<option value="AQ">Antarctica</option>
									<option value="AG">Antigua and Barbuda</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-12 col-md-12">
								<select class="form-control border-radius20 selectpicker" data-size="10" data-live-search="true" data-style="btn-white">
									<option value="" selected>Region</option>
									<option value="AF">Afghanistan</option>
									<option value="AL">Albania</option>
									<option value="DZ">Algeria</option>
									<option value="AS">American Samoa</option>
									<option value="AD">Andorra</option>
									<option value="AO">Angola</option>
									<option value="AI">Anguilla</option>
									<option value="AQ">Antarctica</option>
									<option value="AG">Antigua and Barbuda</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-12 col-md-12">
								<input type="date" class="form-control selectpicker" id="datepicker-default" placeholder="Select Date" value="04/1/2014" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-12 col-md-12">
								<select class="form-control  selectpicker" data-size="10" data-live-search="true" data-style="btn-white">
									<option value="" selected>Gender</option>
									<option value="AF">Male</option>
									<option value="AL">Female</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-12 col-md-12">
								<input type="text" name="" id="jquery-autocomplete" class="form-control" placeholder="Phone Number" />
							</div>
						</div>
						<div class="col align-self-center ck-box">
							<div class=" checkbox checkbox-css m-b-30 text-center mt50">
								<div class="checkbox checkbox-css m-b-30">
									<input type="checkbox" id="agreement_checkbox" value="">
									<label for="agreement_checkbox" class="regular-clr">
									Yes , I’d like to receive newsletter
									</label>
								</div>
							</div>
						</div>
						<div class="register-buttons mt40">
							<button type="submit" class="btn btn-primary btn-block  btnprocess">Proceed <img src="/template/img/ic-proceed.png" class="ic-process"></button>
						</div>
					</form>
					
				</div>

	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="~template/plugins/jquery/jquery-3.3.1.min.js"></script>
	<script src="~template/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script src="~template/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!--[if lt IE 9]>
		<script src="crossbrowserjs/html5shiv.js"></script>
		<script src="crossbrowserjs/respond.min.js"></script>
		<script src="crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="~template/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="~template/plugins/js-cookie/js.cookie.js"></script>
	<script src="~template/js/theme/default.min.js"></script>
	<script src="~template/js/apps.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="~template/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="~template/plugins/ionRangeSlider/js/ion-rangeSlider/ion.rangeSlider.min.js"></script>
	<script src="~template/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
	<script src="~template/plugins/masked-input/masked-input.min.js"></script>
	<script src="~template/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
	<script src="~template/plugins/password-indicator/js/password-indicator.js"></script>
	<script src="~template/plugins/bootstrap-combobox/js/bootstrap-combobox.js"></script>
	<script src="~template/plugins/bootstrap-select/bootstrap-select.min.js"></script>
	<script src="~template/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
	<script src="~template/plugins/bootstrap-tagsinput/bootstrap-tagsinput-typeahead.js"></script>
	<script src="~template/plugins/jquery-tag-it/js/tag-it.min.js"></script>
	<script src="~template/plugins/bootstrap-daterangepicker/moment.js"></script>
	<script src="~template/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="~template/plugins/select2/dist/js/select2.min.js"></script>
	<script src="~template/plugins/bootstrap-eonasdan-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
	<script src="~template/plugins/bootstrap-show-password/bootstrap-show-password.js"></script>
	<script src="~template/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js"></script>
	<script src="~template/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.js"></script>
	<script src="~template/plugins/clipboard/clipboard.min.js"></script>
	<script src="js/demo/form-plugins.demo.min.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	
	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>
</body>
</html>
