<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Talent Detail JingL</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
	<link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="plugins/font-awesome/css/all.min.css" rel="stylesheet" />
	<link href="plugins/animate/animate.min.css" rel="stylesheet" />
	<link href="css/default/style.min.css" rel="stylesheet" />
	<link href="css/default/style-responsive.min.css" rel="stylesheet" />
	<link href="css/apple/theme/style.min.css" rel="stylesheet" />
	<link href="css/apple/theme/style-responsive.min.css" rel="stylesheet" />
	<link href="css/style.css" rel="stylesheet" />
	<link href="css/default/theme/default.css" rel="stylesheet" id="theme" />
	<link href="css/default/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->

	<!-- ================== BEGIN PAGE CSS ================== -->
	<link href="plugins/nvd3/build/nv.d3.css" rel="stylesheet" />
	<!-- ================== END PAGE CSS ================== -->

</head>
<body class="pace-top">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container">
		<!-- begin #top-menu -->
		
		<div class="header-talent-detail" style="background-image: url(img/bg-img.png)">
		  <p class="pull-left">
		    <a class="" href="#">
		    	<div class="icon-img mb4">
					<img class="icon-menu" src="img/ic-back-white.png" alt="" />
				</div> 
		    </a>
		  </p>
		</div>
		<!-- end #top-menu -->
		<div class="panel-body">
							<div class="media media-sm -mt94 d-block">
								<a class="media-left" href="#">
									<img src="img/bg-invitation.png" alt="" class="media-object rounded-corner" />
								</a>
								<div class="desc-talent mt10">
									<h4 class="media-heading">Rizka, 25</h4>
									<p class="mb5">Travel, Food & Beverages, Beauty</p>
									<span class="fa fa-star fa-star-talent checked"></span>
									<span class="fa fa-star fa-star-talent checked"></span>
									<span class="fa fa-star fa-star-talent checked"></span>
									<span class="fa fa-star fa-star-talent checked"></span>
									<p class="set-detail-talent-page mb5 mt5 black-clr"><img src="img/ic-fav.png" class="ic-talent-page">Favorite : 25</p>
									<p class="black-clr"><img src="img/ic-detail.png" class="ic-talent-page">Platform : Facebook, Instagram, Youtube, Web Blog, Fans Page </p>
									<p class="black-clr">Bio : Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
									sed do eiusmod tempor incididunt ut laboreLorem.</p>
								</div>
								<div class="ket-project col-12 mt30">
									<div class="row -mlmr20">
										<div class="col-3 text-center">
										 <div class="circle-ket-project">
										 	<span class="det-ket-project black-clr">20</span>
										 </div>	
										 <p class="black-clr mt10">Completed</p>
										</div>
										<div class="col-3 text-center">
										 <div class="circle-ket-project">
										 	<span class="det-ket-project black-clr">2</span>
										 </div>	
										 <p class="black-clr mt10">On-Going</p>
										</div>
										<div class="col-3 text-center">
										 <div class="circle-ket-project">
										 	<span class="det-ket-project black-clr">1</span>
										 </div>	
										 <p class="black-clr mt10">Rejected</p>
										</div>
										<div class="col-3 text-center">
										 <div class="circle-ket-project">
										 	<span class="det-ket-project black-clr">5</span>
										 </div>	
										 <p class="black-clr mt10">Repeat Hire</p>
										</div>
									</div>
									
								</div>
							</div>
		</div>

		<div class="card-content-tab-menu -mt20 mb50">
			<div class="bg-tab-talent mt20">
			<!-- begin nav-pills -->
					<ul class="nav nav-tab-menu-talent nav-pills talent-detail-tab">
						<li class="nav-items wd-33">
							<a href="#nav-pills-tab-1" data-toggle="tab" class="nav-link ic-tab-view pd5 active">
								<img src="img/ic-tab1-active.png" class="ic-tab">
							</a>
						</li>
						<li class="nav-items wd-33">
							<a href="#nav-pills-tab-2" data-toggle="tab" class="nav-link ic-tab-view pd5">
								<img src="img/ic-tab2-active.png" class="ic-tab">
							</a>
						</li>
						<li class="nav-items wd-33">
							<a href="#nav-pills-tab-3" data-toggle="tab" class="nav-link ic-tab-view pd5">
								<img src="img/ic-tab3-active.png" class="ic-tab">
							</a>
						</li>
					</ul>
					<!-- end nav-pills -->
			</div>
					<!-- begin tab-content -->
					<div class="tab-content mt10">
						<!-- begin tab-pane -->
						<div class="tab-pane fade active show" id="nav-pills-tab-1">
							<div class="close-content text-center">
								<div class="form-group brdr-blue has-search">
								    <span class="fa fa-search form-control-feedback"></span>
								    <input type="text" class="form-control" placeholder="Search in this Listing">
								 </div>
								 <div class="trending-card">
									<div class="row">
									<div class="col-6">
										<div class="card-video-home">
										  <div class="embed-responsive embed-responsive-4by3 card-img-top">
											  <iframe class="pb-video-frame" src="https://www.youtube.com/embed/K68UrdUOr2Y?list=RDzuAcaBkcYGE?ecver=1" frameborder="0" allowfullscreen></iframe>
										  </div>
										  <div class="card-body-video">
										    <h6 class="title-video">How to Travel Safely</h6>
										    <p class="card-text">How to Travel Safely</p>
										  </div>
										</div>
									</div>
									<div class="col-6">
										<div class="card-video-home">
										  <div class="embed-responsive embed-responsive-4by3 card-img-top">
											  <iframe class="pb-video-frame" src="https://www.youtube.com/embed/K68UrdUOr2Y?list=RDzuAcaBkcYGE?ecver=1" frameborder="0" allowfullscreen></iframe>
										  </div>
										  <div class="card-body-video">
										  	<h6 class="title-video">How to Travel Safely</h6>
										    <p class="card-text">How to Travel Safely</p>
										  </div>
										</div>
									</div>
									<div class="col-6">
										<div class="card-video-home">
										  <div class="embed-responsive embed-responsive-4by3 card-img-top">
											  <iframe class="pb-video-frame" src="https://www.youtube.com/embed/K68UrdUOr2Y?list=RDzuAcaBkcYGE?ecver=1" frameborder="0" allowfullscreen></iframe>
										  </div>
										  <div class="card-body-video">
										    <h6 class="title-video">How to Travel Safely</h6>
										    <p class="card-text">How to Travel Safely</p>
										  </div>
										</div>
									</div>
									<div class="col-6">
										<div class="card-video-home">
										  <div class="embed-responsive embed-responsive-4by3 card-img-top">
											  <iframe class="pb-video-frame" src="https://www.youtube.com/embed/K68UrdUOr2Y?list=RDzuAcaBkcYGE?ecver=1" frameborder="0" allowfullscreen></iframe>
										  </div>
										  <div class="card-body-video">
										    <h6 class="title-video">How to Travel Safely</h6>
										    <p class="card-text">How to Travel Safely</p>
										  </div>
										</div>
									</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end tab-pane -->
						<!-- begin tab-pane -->
						<div class="tab-pane fade" id="nav-pills-tab-2">
							<div class="panel panel-inverse">
								<div class="panel-body">
									<div id="nv-donut-chart" class="height-sm"></div>
								</div>
							</div>
						</div>
						<!-- end tab-pane -->
						<!-- begin tab-pane -->
						<div class="tab-pane fade" id="nav-pills-tab-3">
							<div class="close-content text-center">
								<div class="row shadow pd15 brrd-10 mlmr10">
									<div class="col-4 br-rg-grey pd5">
										<h4 class="media-heading">Overall</h4>
										<span class="fa fa-star fa-star-talent checked"></span>
										<span class="fa fa-star fa-star-talent checked"></span>
										<span class="fa fa-star fa-star-talent checked"></span>
										<span class="fa fa-star fa-star-talent checked"></span>
										<h2 class="mt5 black-clr">4,0/5</h2>
									</div>

									<div class="col-8 pd5 mt10">
										<div class="row">
											<div class="ml10">
												<p class="mb5">Travel</p>
											</div>
											<div class="pull-right ps-right">
												<span class="fa fa-star fa-star-talent checked"></span>
												<span class="fa fa-star fa-star-talent checked"></span>
											</div>
										</div>
										<div class="row">
											<div class="ml10">
												<p class="mb5">Food & Beverages</p>
											</div>
											<div class="pull-right ps-right">
												<span class="fa fa-star fa-star-talent checked"></span>
												<span class="fa fa-star fa-star-talent checked"></span>
												<span class="fa fa-star fa-star-talent checked"></span>
											</div>
										</div>
										<div class="row">
											<div class="ml10 ">
												<p class="mb5">Beauty</p>
											</div>
											<div class="pull-right ps-right">
												<span class="fa fa-star fa-star-talent checked"></span>
												<span class="fa fa-star fa-star-talent checked"></span>
												<span class="fa fa-star fa-star-talent checked"></span>
												<span class="fa fa-star fa-star-talent checked"></span>
											</div>
										</div>	
									</div>
								</div>

								<div class="mtmb25">
									<div class="btn-group-rate" role="group" aria-label="Basic example">
									  <button type="button" class="btn btn-white shadow mr10">
									  	1 <span class="fa fa-star fa-star-talent checked"></span>
									  </button>
									  <button type="button" class="btn btn-white shadow mr10">
									  	2 <span class="fa fa-star fa-star-talent checked"></span>
									  </button>
									  <button type="button" class="btn btn-white shadow mr10">
									  	3 <span class="fa fa-star fa-star-talent checked"></span>
									  </button>
									  <button type="button" class="btn btn-white shadow mr10">
									  	4 <span class="fa fa-star fa-star-talent checked"></span>
									  </button>
									  <button type="button" class="btn btn-white shadow">
									  	5 <span class="fa fa-star fa-star-talent checked"></span>
									  </button>
									</div>
								</div>

								<div class="trending-card">
									<div class="row">
									<div class="col-6">
										<div class="card-video-home">
										  <div class="embed-responsive embed-responsive-4by3 card-img-top">
											  <iframe class="pb-video-frame" src="https://www.youtube.com/embed/K68UrdUOr2Y?list=RDzuAcaBkcYGE?ecver=1" frameborder="0" allowfullscreen></iframe>
										  </div>
										  <div class="card-body-video">
										    <h6 class="title-video">How to Travel Safely</h6>
										    <p class="card-text">How to Travel Safely</p>
										  </div>
										</div>
									</div>
									<div class="col-6">
										<div class="card-video-home">
										  <div class="embed-responsive embed-responsive-4by3 card-img-top">
											  <iframe class="pb-video-frame" src="https://www.youtube.com/embed/K68UrdUOr2Y?list=RDzuAcaBkcYGE?ecver=1" frameborder="0" allowfullscreen></iframe>
										  </div>
										  <div class="card-body-video">
										  	<h6 class="title-video">How to Travel Safely</h6>
										    <p class="card-text">How to Travel Safely</p>
										  </div>
										</div>
									</div>
									<div class="col-6">
										<div class="card-video-home">
										  <div class="embed-responsive embed-responsive-4by3 card-img-top">
											  <iframe class="pb-video-frame" src="https://www.youtube.com/embed/K68UrdUOr2Y?list=RDzuAcaBkcYGE?ecver=1" frameborder="0" allowfullscreen></iframe>
										  </div>
										  <div class="card-body-video">
										    <h6 class="title-video">How to Travel Safely</h6>
										    <p class="card-text">How to Travel Safely</p>
										  </div>
										</div>
									</div>
									<div class="col-6">
										<div class="card-video-home">
										  <div class="embed-responsive embed-responsive-4by3 card-img-top">
											  <iframe class="pb-video-frame" src="https://www.youtube.com/embed/K68UrdUOr2Y?list=RDzuAcaBkcYGE?ecver=1" frameborder="0" allowfullscreen></iframe>
										  </div>
										  <div class="card-body-video">
										    <h6 class="title-video">How to Travel Safely</h6>
										    <p class="card-text">How to Travel Safely</p>
										  </div>
										</div>
									</div>
									</div>
								</div>

							</div>
						</div>
						<!-- end tab-pane -->
					</div>
					<!-- end tab-content -->

		</div>
	</div>
	<!-- end page container -->
	<!-- Footer -->
	<footer class="page-footer top-shadow">
		<div class="col-12 text-center">
			<div class="row">
				<div class="col-4">
					<button class="btn btn-rounded -mr40"><img src="img/ic-dislike.png" class="ic-button"></button>
				</div>
				<div class="col-4">
					<button class="btn btn-blue">Hire</button>
				</div>
				<div class="col-4">
					<button class="btn btn-rounded -ml40"><img src="img/ic-like.png" class="ic-button"></button>
				</div>
			</div>	
		</div>
	</footer>
	<!-- Footer -->

	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="plugins/jquery/jquery-3.3.1.min.js"></script>
	<script src="plugins/jquery-ui/jquery-ui.min.js"></script>
	<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!--[if lt IE 9]>
		<script src="crossbrowserjs/html5shiv.js"></script>
		<script src="crossbrowserjs/respond.min.js"></script>
		<script src="crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="plugins/js-cookie/js.cookie.js"></script>
	<script src="js/default.min.js"></script>
	<script src="js/apps.min.js"></script>
	<!-- ================== END BASE JS ================== -->

	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="plugins/d3/d3.min.js"></script>
	<script src="plugins/nvd3/build/nv.d3.js"></script>
	<script type="text/javascript">
		var handlePieAndDonutChart = function() {
			"use strict";

			var pieChartData = [
				{ 'label': 'Travel', 'value' : 14, 'color': COLOR_PURPLE }, 
				{ 'label': 'Food & Beverages', 'value' : 36, 'color': COLOR_RED }, 
				{ 'label': 'Beauty', 'value' : 50, 'color': COLOR_BLUE }
			];


			nv.addGraph(function() {
				var chart = nv.models.pieChart()
				  .x(function(d) { return d.label })
				  .y(function(d) { return d.value })
				  .showLabels(true)
				  .labelThreshold(.05)
				  .labelType("percent")
				  .donut(true) 
				  .donutRatio(0.35);

				d3.select('#nv-donut-chart').append('svg')
				  .datum(pieChartData)
				  .transition().duration(350)
				  .call(chart);

				return chart;
			});
		};
	</script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	<script type="text/javascript">
		var ChartNvd3 = function () {
	"use strict";
	return {
		//main function
		init: function () {
			handlePieAndDonutChart();
			}
		};
	}();
	</script>

	

	<script>
		$(document).ready(function() {
			App.init();
			ChartNvd3.init();
		});
	</script>
	
</body>
</html>
