
@{
    ViewData["Title"] = "PaymentVA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="app">
    <div data-reactroot="" class="app-container" id="application">
    <nav class="header" id="header"><a class="header-back" href="#">
        <span class="sprite header-prev"></span></a>
        <div class="header-content">
        <div class="logo-store"><img alt="Fameo" src="https://vtcheckout-sandbox-assets.s3.amazonaws.com/snap/logos/G506611188/thumb_retina_snap_2Flogos_2FG506611188_2Fbab81c67-670c-4333-861f-db61712f828b_2FJing_e%2B1.png" /> <div class="text-right">Mandiri ATM</div></div>
            
        <span class="text-page-title">
            
            </span>
            </div>
        </nav>
   
        <div class="sprite btn-main-next"></div>
            </a>
        </div>
    <div class="pop-wrapper has-close">
        <span class="pop"></span>
        <div class="pop-close-wrapper">
        <a href="#" class="touch-area">
            <span class="sprite modal-close-dark"></span>
            </a>
            </div>
        </div>
    <div class="container-fluid">
        <div class="row">
        <div class="main-container">
            <div class="page-container scroll">
                <div class="card-container">
                    <div>
                        <div class="amount">
                            <div class="amount-title pull-left">
                                <div class="col-sm-3">
                                    <span class="text-amount-title">jumlah</span>

                                    <div class="pull-right">Rp 5,000</div>
                                    <!--<span class="text-amount-amount">5,000</span>-->
                                </div>
                                </div>
                            </div>
                        </div>
              </div>
                        <br />
                        <div class="order-id-optional">
                            <div class="col-sm-3"
                            <strong>Order ID</strong>
                            <div class="pull-right">ORD-2019000149</div>
                        </div>
                    </div>
                <div class="card-container">
                    <div>
                        <div class="card-title">
                            <div class="content">
                                <span>Cara Pembayaran</span>
                                <img src="/template/img/mandiri.png" class="rounded float-right" alt="...">
                                <!--<span class="pull-right" src="/template/img/mandiri.png"></span>-->
                            </div>
                            <span class="pull-right bank-sprite mandiri"></span>
                        </div>
                    </div>
                    <div class="tabs full">
                        <div class=" col-sm-3"
                        <ul class="nav-tabs nav-justified">
                            <li class="active"><a href="#" class="text-actionable" class="text-right">ATM Mandiri</a></li>
                            <li class=""><a href="#" class="text-actionable">Internet Banking</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <div class="content-table scroll">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="table-row table-numeric text-body"><!-- react-text: 96 -->1<!-- /react-text --><!-- react-text: 97 -->.<!-- /react-text --></td>
                                                <td class="table-row table-img"><i class="va-sprite va-en mandiri-01"></i></td>
                                                <td class="table-row text-body"><span>Pada menu utama, pilih <strong>Bayar/Beli</strong>.</span></td>
                                            </tr>
                                            <tr>
                                                <td class="table-row table-numeric text-body"><!-- react-text: 104 -->2<!-- /react-text --><!-- react-text: 105 -->.<!-- /react-text --></td>
                                                <td class="table-row table-img"><i class="va-sprite va-en mandiri-02"></i></td>
                                                <td class="table-row text-body"><span>Pilih <strong>Lainnya</strong>.</span></td>
                                            </tr>
                                            <tr>
                                                <td class="table-row table-numeric text-body"><!-- react-text: 112 -->3<!-- /react-text --><!-- react-text: 113 -->.<!-- /react-text --></td>
                                                <td class="table-row table-img"><i class="va-sprite va-en mandiri-03"></i></td>
                                                <td class="table-row text-body"><span>Pilih <strong>Multi Payment</strong>.</span></td>
                                            </tr>
                                            <tr>
                                                <td class="table-row table-numeric text-body"><!-- react-text: 120 -->4<!-- /react-text --><!-- react-text: 121 -->.<!-- /react-text --></td>
                                                <td class="table-row table-img"><i class="va-sprite va-en mandiri-04"></i></td>
                                                <td class="table-row text-body"><span>Masukkan 70012 (kode perusahaan Midtrans) lalu tekan <strong>Benar</strong>.</span></td>
                                            </tr>
                                            <tr>
                                                <td class="table-row table-numeric text-body"><!-- react-text: 128 -->5<!-- /react-text --><!-- react-text: 129 -->.<!-- /react-text --></td>
                                                <td class="table-row table-img"><i class="va-sprite va-en mandiri-05"></i></td>
                                                <td class="table-row text-body"><span>Masukkan <strong>Kode Pembayaran</strong> Anda lalu tekan <strong>Benar</strong>.</span></td>
                                            </tr>
                                            <tr>
                                                <td class="table-row table-numeric text-body"><!-- react-text: 136 -->6<!-- /react-text --><!-- react-text: 137 -->.<!-- /react-text --></td>
                                                <td class="table-row table-img"><i class="va-sprite va-en mandiri-06"></i></td>
                                                <td class="table-row text-body"><span>Pada halaman konfirmasi akan muncul detail pembayaran Anda. Jika informasi telah sesuai tekan <strong>Ya</strong>.</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane">
                                <div class="content-table scroll">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="table-row table-numeric text-body"><!-- react-text: 148 -->1<!-- /react-text --><!-- react-text: 149 -->.<!-- /react-text --></td>
                                                <td class="table-row text-body"><span>Login ke Internet Banking Mandiri <a href="https://ib.bankmandiri.co.id/">(https://ib.bankmandiri.co.id/)</a>.</span></td>
                                            </tr>
                                            <tr>
                                                <td class="table-row table-numeric text-body"><!-- react-text: 154 -->2<!-- /react-text --><!-- react-text: 155 -->.<!-- /react-text --></td>
                                                <td class="table-row text-body"><span>Pada menu utama, pilih <strong>Bayar</strong>, lalu pilih <strong>Multi Payment</strong>.</span></td>
                                            </tr>
                                            <tr>
                                                <td class="table-row table-numeric text-body"><!-- react-text: 160 -->3<!-- /react-text --><!-- react-text: 161 -->.<!-- /react-text --></td>
                                                <td class="table-row text-body"><span>Pilih akun Anda di <strong>Dari Rekening</strong>, kemudian di Penyedia Jasa pilih <strong>Midtrans</strong>.</span></td>
                                            </tr>
                                            <tr><td class="table-row table-numeric text-body"><!-- react-text: 166 -->4<!-- /react-text --><!-- react-text: 167 -->.<!-- /react-text --></td><td class="table-row text-body"><span>Masukkan <strong>Kode Pembayaran</strong> Anda dan klik <strong>Lanjutkan</strong>.</span></td></tr>
                                            <tr>
                                                <td class="table-row table-numeric text-body"><!-- react-text: 172 -->5<!-- /react-text --><!-- react-text: 173 -->.<!-- /react-text --></td>
                                                <td class="table-row text-body"><span>Konfirmasi pembayaran Anda menggunakan Mandiri Token.</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><hr><div class="card-title">
                    <div class="content">
                        <span>Kirim instruksi pembayaran ke email Anda?</span>
                    </div>
                </div>
                          <form>

                              <!--<label>Masukkan alamat email Anda</label><span class="helper danger hide"></span><div class="icons"><i class="sprite icon pencil"></i></div>-->
                              <div class="input-group col-sm-3 col-xs-12">
                                  <input type="email" placeholder="jingl@example.com" class="">
                                  <span class="bar"></span>
                              </div>
                              <input type="submit" style="display: none;">
                          </form>

                <div class="button-main show">
                    <a class="button-main-content" href="#/">
                        <div class="text-button-main col-sm-3">
                            <span>Lihat Nomor Rekening</span>
                        </div>
                </div>
                <div>
                </div>
            </div>
            </div>
            </div>
        </div>
        </div>
</div>
