
@{
    ViewData["Title"] = "UpdateLevel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- begin #top-menu -->
<div class="header-menu mt30">
    <ul class="nav">
        <li class="nav-item text-center pull-left">
            <a class="nav-link " href="javascript:history.back()">
                <div class="icon-img mb4">
                    <img class="icon-menu" src="/template/img/ic-back-blue.png" alt="" />
                </div>
            </a>
        </li>
        <li class="nav-item justify-content-center mr-center">
            <h5 class="nav-link -ml54"><b>Level Up</b></h5>

        </li>
    </ul>
</div>
<div class="divider-btm-w"></div>
<!-- end #top-menu -->
<br />
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h5> Cara Meningkatkan Level</h5>
            <p>
                Kamu dapat meningkatkan level kamu dengan meningkatkan nilai
                transaksi (love dan banyaknya request). Semakin banyak nilai transaksi
                (love dan request video) semakin cepat level kamu naik.
            </p>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Level</th>
                    <th scope="col">Order Amount</th>
                    <th scope="col">Fvaorite Amount</th>
                    <th scope="col">Unit Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Bronze</th>
                    <td>1-19</td>
                    <td>50-499</td>
                    <td>5000-100000</td>
                </tr>
                <tr>
                    <th scope="row">Silver</th>
                    <td>20-49</td>
                    <td>500-1499</td>
                    <td>150000-200000</td>
                </tr>
                <tr>
                    <th scope="row">Gold</th>
                    <td>50-499</td>
                    <td>1500-3499</td>
                    <td>400000-600000</td>
                </tr>
                <tr>
                    <th scope="row">Diamond</th>
                    <td>500></td>
                    <td>3500></td>
                    <td>800000-1000000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>