bin/
obj/
/Jingl.UserAdmin.Model/obj
/Jingl.Admin.Service/obj
/Jingl.Master.Model/obj
/Jingl.Transaction.Model/obj
/Jingl.FrontEnd.Service/obj
/Jingl.Admin.Service/obj/Debug/netcoreapp2.1/Jingl.Admin.Service.AssemblyInfo.cs
/Jingl.Admin.Service/obj/Debug/netcoreapp2.1/Jingl.Admin.Service.AssemblyInfoInputs.cache
/Jingl.Admin.Service/obj/Debug/netcoreapp2.1/Jingl.Admin.Service.assets.cache
/Jingl.Admin.Service/obj/Debug/netcoreapp2.1/Jingl.Admin.Service.csproj.CopyComplete
/Jingl.Admin.Service/obj/Debug/netcoreapp2.1/Jingl.Admin.Service.csproj.CoreCompileInputs.cache
/Jingl.Admin.Service/obj/Debug/netcoreapp2.1/Jingl.Admin.Service.csproj.FileListAbsolute.txt
/Jingl.Admin.Service/obj/Debug/netcoreapp2.1/Jingl.Admin.Service.csprojAssemblyReference.cache
/Jingl.Admin.Service/obj/Debug/netcoreapp2.1/Jingl.Admin.Service.dll
/Jingl.Admin.Service/obj/Debug/netcoreapp2.1/Jingl.Admin.Service.pdb
/Jingl.Admin.Service/obj/Debug/netcoreapp2.1/Jingl.Service.AssemblyInfo.cs
/Jingl.Admin.Service/obj/Debug/netcoreapp2.1/Jingl.Service.AssemblyInfoInputs.cache
/Jingl.Admin.Service/obj/Debug/netcoreapp2.1/Jingl.Service.assets.cache
/Jingl.Admin.Service/obj/Debug/netcoreapp2.1/Jingl.Service.csproj.CopyComplete
/Jingl.Admin.Service/obj/Debug/netcoreapp2.1/Jingl.Service.csproj.CoreCompileInputs.cache
/Jingl.Admin.Service/obj/Debug/netcoreapp2.1/Jingl.Service.csproj.FileListAbsolute.txt
/Jingl.Admin.Service/obj/Debug/netcoreapp2.1/Jingl.Service.csprojAssemblyReference.cache
/Jingl.Admin.Service/obj/Debug/netcoreapp2.1/Jingl.Service.dll
/Jingl.Admin.Service/obj/Debug/netcoreapp2.1/Jingl.Service.pdb
/Jingl.Admin.Service/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Jingl.Admin.Service/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Jingl.Admin.Service/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Jingl.Admin.Service/obj/Jingl.Admin.Service.csproj.nuget.cache
/Jingl.Admin.Service/obj/Jingl.Admin.Service.csproj.nuget.g.props
/Jingl.Admin.Service/obj/Jingl.Admin.Service.csproj.nuget.g.targets
/Jingl.Admin.Service/obj/Jingl.Service.csproj.nuget.g.props
/Jingl.Admin.Service/obj/Jingl.Service.csproj.nuget.g.targets
/Jingl.Admin.Service/obj/Release/netcoreapp2.1/Jingl.Service.AssemblyInfo.cs
/Jingl.Admin.Service/obj/Release/netcoreapp2.1/Jingl.Service.AssemblyInfoInputs.cache
/Jingl.Admin.Service/obj/Release/netcoreapp2.1/Jingl.Service.assets.cache
/Jingl.Admin.Service/obj/Release/netcoreapp2.1/Jingl.Service.csproj.CoreCompileInputs.cache
/Jingl.Admin.Service/obj/project.assets.json
/.vs/JINGL/v15
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/config/applicationhost.config
*.suo
*.user
_ReSharper.*
bin
obj
packages
/Jingl/Log
/Jingl/wwwroot/Upload/Photos
/Jingl/wwwroot/Upload/Videos/Temp
/Jingl/wwwroot/Upload/Videos/mp4