
@{
    ViewData["Title"] = "ExploreDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box-white">
    <div id="myHeader">
        <div class="logo-header">
            <div class="coontainer-fluid">
                <div class="col-md-12">
                    <ul class="nav">
                        <li class="nav-item text-center pull-left">
                            <a class="nav-link" href="javascript:history.back()">
                                <div class="icon-img">
                                    <img src="/template/img/ic-back-white.png" style="width:42%;margin-left:-25%;margin-top:-8%" alt="" />
                                </div>
                            </a>
                        </li>
                        <li class="nav-item justify-content-center mr-center">
                            <img src="~/template/img/Jing_e 1.png" style="margin-left:-84%" alt="Alternate Text" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container m-t-20">
        <div class="row">
            <div class="col-12">
                <div class="exploredetail">
                    <div class="head">
                        <a href="#">
                            <img src="~/template/img/talent2.jpg" alt="Alternate Text" />
                            <p>Gal Gadot</p>
                        </a>
                    </div>
                    <div class="video">
                        <div class="embed-responsive embed-responsive-4by3 card-img-top">
                            <video class="embed-responsive-item" controls>
                                <source src="https://www.youtube.com/embed/tgbNymZ7vqY" type="video/mp4">
                            </video>

                        </div>
                    </div>
                    <div class="text clearfix">
                        <h6 class="text-black ">Galgadot</h6>
                        <p>hadiah ulang tahun bersama keluarga garis keras</p>
                    </div>
                </div>
                <div class="exploredetail">
                    <div class="head">
                        <a href="#">
                            <img src="~/template/img/talent2.jpg" alt="Alternate Text" />
                            <p>Gal Gadot</p>
                        </a>
                    </div>
                    <div class="video">
                        <div class="embed-responsive embed-responsive-4by3 card-img-top">
                            <video class="embed-responsive-item" controls>
                                <source src="https://www.youtube.com/embed/tgbNymZ7vqY" type="video/mp4">
                            </video>

                        </div>
                    </div>
                    <div class="text clearfix">
                        <h6 class="text-black ">Galgadot</h6>
                        <p>hadiah ulang tahun bersama keluarga garis keras</p>
                    </div>
                </div>
                @*<div class="exploredetail">
                    <div class="head">
                        <a href="#">
                            <img src="~/template/img/talent2.jpg" alt="Alternate Text" />
                            <p>Gal Gadot</p>
                        </a>
                    </div>
                    <div class="video">
                        <div class="embed-responsive embed-responsive-4by3 card-img-top">
                            <video class="embed-responsive-item" controls>
                                <source src="https://www.youtube.com/embed/tgbNymZ7vqY" type="video/mp4">
                            </video>

                        </div>
                    </div>
                    <div class="text clearfix">
                        <h6 class="text-black ">Galgadot</h6>
                        <p>hadiah ulang tahun bersama keluarga garis keras</p>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>


