
@{
    ViewData["Title"] = "BenefitLevel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="myHeader">
    <div class="logo-header">
        <div class="coontainer-fluid">
            <div class="col-md-12">
                <ul class="nav">
                    <li class="nav-item text-center pull-left">
                        <a class="nav-link" href="javascript:history.back()">
                            <div class="icon-img">
                                <img src="/template/img/ic-back-white.png" style="width:42%;margin-left:-25%;margin-top:-8%" alt="" />
                            </div>
                        </a>
                    </li>
                    <li class="nav-item justify-content-center mr-center">
                        <img src="~/template/img/Jing_e 1.png" style="margin-left:-84%" alt="Alternate Text" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- begin #top-menu -->
<div class="box-white">
    <div class="header-menu p-t-20">
        <ul class="nav">
            <li class="nav-item justify-content-center mr-center">
                <h5 class="nav-link"><b>Benefit Level</b></h5>

            </li>
        </ul>
    </div>

    <!-- end #top-menu -->

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <img class="img-fluid" src="~/template/img/benefit.png" alt="Responsive image" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 m-t-30 m-b-20">
                <h3 class="text-center"> Hi guys, gabung jadi talent gak rugi lho.. ini dia nih benefit yang kalian dapat klo jadi talent:</h3>
            </div>
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Level</th>
                            <th scope="col">Harga</th>
                            <th scope="col">Fee</th>
                            <th scope="col">Order</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Majestic</th>
                            <td>Rp3.000.000</td>
                            <td>Rp2.400.000</td>
                            <td>100</td>
                        </tr>

                        <tr>
                            <th scope="row"></th>
                            <td>Rp1.000.000</td>
                            <td>Rp800.000</td>
                            <td>60</td>
                        </tr>
                        <tr>
                            <th scope="row">Master</th>
                            <td>Rp800.000</td>
                            <td>Rp640.000</td>
                            <td>40</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Rp400.000</td>
                            <td>Rp320.000</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <th scope="row">Elite</th>
                            <td>Rp200.000</td>
                            <td>Rp160.000</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Rp150.000</td>
                            <td>Rp120.000</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Rp100.000</td>
                            <td>Rp80.000</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <th scope="row">Ranger</th>
                            <td>Rp80.000</td>
                            <td>Rp64.000</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Rp60.000</td>
                            <td>Rp48.000</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Rp30.000</td>
                            <td>Rp24.000</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-12">
                <p class="text-justify">
                    Kamu dapat meningkatkan level kamu dengan meningkatkan nilai
                    transaksi sebanyak banyaknya. Semakin banyak nilai transaksi
                    semakin cepat level kamu naik. ohya, kamu juga bisa mendapatkan bonus uang Rp30.000 setiap kamu share unique code kamu dan teman kamu pakai unique code kamu.
                </p>
            </div>

        </div>
    </div>
</div>


