
@{
    ViewData["Title"] = "Carapesan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header-menu mt30">
    <ul class="nav">
        <li class="nav-item text-center pull-left">
            <a class="nav-link " href="javascript:history.back()">
                <div class="icon-img mb4">
                    <img class="icon-menu" src="/template/img/ic-back-blue.png" alt="" />
                </div>
            </a>
        </li>
        <li class="nav-item justify-content-center mr-center">
            <h5 class="nav-link -ml54">Cara Pesan</h5>
        </li>
    </ul>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="owl-carousel owl-tutor">
                <div class="item">
                    <img src="~/template/img/1.png" alt="Alternate Text" />
                    <h5>Klik Login jika sudah memiliki akun atau klik sign up jika belum memiliki akun </h5>
                </div>
                <div class="item">
                    <img src="~/template/img/2.png" alt="Alternate Text" />
                    <h5>Klik button Hire, kemudian isi form booking </h5>
                </div>
                <div class="item">
                    <img src="~/template/img/3.png" alt="Alternate Text" />
                    <h5>Isikan field-field untuk booking talent </h5>
                </div>
                <div class="item">
                    <img src="~/template/img/4.png" alt="Alternate Text" />
                    <h5>Cek bookingan kamu pada page confirm booking. Kalo sudah okay, klik button bayar </h5>
                </div>
                <div class="item">
                    <img src="~/template/img/5.png" alt="Alternate Text" />
                    <h5>Pilih metode pembayaran, mau transfer ATM atau pake Go-Pay  </h5>
                </div>
                <div class="item">
                    <img src="~/template/img/6.png" alt="Alternate Text" />
                    <h5>Metode pembayaran dengan Go-Pay. Klik Pay Now by Go-Pay </h5>
                </div>
                <div class="item">
                    <img src="~/template/img/7.png" alt="Alternate Text" />
                    <h5>Klik Pay untuk melanjutkan pembayara dengan Go-Pay </h5>
                </div>
                <div class="item">
                    <img src="~/template/img/8.png" alt="Alternate Text" />
                    <h5>Pembayaran dengan metode Go-Pay sudah sukses </h5>
                </div>
                <div class="item">
                    <img src="~/template/img/9.png" alt="Alternate Text" />
                    <h5>{embayaran dengan metode transfer ATM </h5>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
   
}
