
@{
    ViewData["Title"] = "HomeSeaarch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group brdr-blue has-search">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" class="form-control" placeholder="Search">
</div>
<div class="filtertab mt30">
    <ul class="list-filtertab">
        <li class="divider-btm mt10">
            <a href="#" class="grey-clr "><i class="fa fa-search mr10 "></i> Lipstick Mac Retro Max</a>
        </li>
        <li class="divider-btm mt10">
            <a href="#" class="grey-clr"><i class="fa fa-search mr10 "></i> Travel ke Bangkok</a>
        </li>
        <li class="mt10">
            <a href="#" class="grey-clr"><i class="fa fa-search mr10 "></i> Museum Macan</a>
        </li>
    </ul>
</div>
<div class="mt50">
    <ul class="nav nav-tab-menu-filter nav-pills">
        <li class="nav-items wd-33">
            <a href="#" data-toggle="tab" class="nav-link pd5 ">
                <span class="">Reset</span>
            </a>
        </li>
        <li class="nav-items wd-33">
            <a href="#" data-toggle="tab" class="nav-link pd5 active">
                <span class="">Filter</span>
            </a>
        </li>
        <li class="nav-items wd-33">
            <a href="#" data-toggle="tab" class="nav-link pd5">
                <span class="">Cancel</span>
            </a>
        </li>
    </ul>
</div>

