
@{
    ViewData["Title"] = "TipsVideo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="myHeader">
    <div class="logo-header">
        <div class="coontainer-fluid">
            <div class="col-md-12">
                <ul class="nav">
                    <li class="nav-item text-center pull-left">
                        <a class="nav-link" href="javascript:history.back()">
                            <div class="icon-img">
                                <img src="/template/img/ic-back-white.png" style="width:42%;margin-left:-25%;margin-top:-8%" alt="" />
                            </div>
                        </a>
                    </li>
                    <li class="nav-item justify-content-center mr-center">
                        <img src="~/template/img/Jing_e 1.png" style="margin-left:-84%" alt="Alternate Text" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="box-white">
    <!-- end #top-menu -->
    <img src="~/template/img/TIPS.jpg" class="w-100" alt="Alternate Text" />
 
</div>
