@model Jingl.General.Model.Admin.UserManagement.UserModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("~/Views/Shared/_headertop.cshtml")

@using (Html.BeginForm("UpdatePassword", "Account", FormMethod.Post, new { Id = "formUpdatePassword" }))
{
    <div class="forgotpassowrd">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-center m-t-30">
                        <h2>Reset Password</h2>

                    </div>

                </div>
                <div class="col-12">
                    <div class="m-t-30">
                       
                            <div class="form-group">

                                <div class="input-group input-forgot" id="show_hide_password">
                                    @*<input class="form-control " type="password" placeholder="New Password">*@
                                    @Html.HiddenFor(model => model.Id)
                                    @Html.PasswordFor(model => model.Password, new { Placeholder = "New Password", Class = "form-control inputpass" })
                                    <div class="input-group-addon">
                                        <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            @*<div class="form-group">

                                    <div class="input-group input-forgot" id="show_hide_passwords">
                                        <input class="form-control" type="password" placeholder="Confirm Your New password">
                                        <div class="input-group-addon">
                                            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>*@

                            <button type="submit" class="btn btn-primary btn-blue">Submit</button>
                        
                    </div>

                </div>
            </div>
        </div>

    </div>
}
    @section scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $("#show_hide_password a").on('click', function (event) {
             
                    event.preventDefault();
                    if ($('#show_hide_password .inputpass').attr("type") == "text") {
                        $('#show_hide_password .inputpass').attr("type", "password");
                        $('#show_hide_password i').addClass("fa-eye-slash");
                        $('#show_hide_password i').removeClass("fa-eye");
                    } else if ($('#show_hide_password .inputpass').attr("type") == "password") {
                        $('#show_hide_password .inputpass').attr("type", "text");
                        $('#show_hide_password i').removeClass("fa-eye-slash");
                        $('#show_hide_password i').addClass("fa-eye");
                    }
                });
            });

            //function myPassword() {
            //    var x = document.getElementById("Password");
            //    if (x.type === "password") {
            //        x.type = "text";

            //    } else {
            //        x.type = "password";
            //    }
            //}


        </script>
    }