
@{
    ViewData["Title"] = "RefundPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box-white">
    <div id="myHeader">
        <div class="logo-header">
            <div class="coontainer-fluid">
                <div class="col-md-12">
                    <ul class="nav">
                        <li class="nav-item text-center pull-left">
                            <a class="nav-link" href="javascript:history.back()">
                                <div class="icon-img">
                                    <img src="/template/img/ic-back-white.png" style="width:42%;margin-left:-25%;margin-top:-8%" alt="" />
                                </div>
                            </a>
                        </li>
                        <li class="nav-item justify-content-center mr-center">
                            <div class="headerTops">
                                <img src="~/template/img/Jing_e 2.png" style="margin-left:-84%" alt="Alternate Text" />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-menu p-t-30">
        <ul class="nav">
            
            <li class="nav-item justify-content-center mr-center">
                <h5 class="nav-link">Kebijakan Pengembalian Dana</h5>
            </li>
        </ul>
    </div>
 

    <br />
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5> Tentang Pengembalian Uang</h5>
                <p class="text-justify">
                    Pengembalian uang berarti mengembalikan dana kepada pelanggan. Ini disebabkan oleh pemesanan ganda, produk / layanan tidak tersedia, penerbangan dibatalkan, dll.

                    Untuk memproses pengembalian dana, atau mengembalikan dana ke pelanggan, kami perlu memastikan bahwa uang telah berhasil ditransfer dari pelanggan ke pedagang; atau secara operasional, status pembayaran telah diubah menjadi "Penyelesaian".Permintaan pengembalian dana sebagian besar berlaku dalam transaksi Pembayaran Kartu, dan berfungsi dengan mengembalikan batas Kartu. Pengembalian uang untuk metode pembayaran lainnya dapat diproses oleh pedagang itu sendiri, biasanya dengan mentransfer uang kembali.

                    Proses pengembalian uang untuk Kartu Kredit biasanya memakan waktu 7-14 hari kerja. Pengembalian uang untuk Kartu Debit bisa lebih lama, hingga dua bulan; dan pelanggan perlu menghubungi Bank Penerbit mereka juga.

                    Permintaan pengembalian dana memakan waktu beberapa hari karena perlu dikoordinasikan dengan berbagai pihak, seperti mengakuisisi dan menerbitkan bank. Jika pelanggan mengeluh bahwa batasan mereka belum dikembalikan, pedagang harus bertanya kepada Acquiring Banks dan pelanggan juga harus bertanya kepada Issuing Bank. Biasanya memerlukan data: orderID, detail pedagang, detail pelanggan, dan kode persetujuan.
                    jika dalam 4 hari terhitung sejak jadwal pengunggahan video oleh talent tidak ada video yang dikirimkan, maka user berhak memilih untuk melakukan booking ulang atau mengajukan pengembalian dana. Proses pengembalian dana akan dilakukan dalam 14 hari kerja.

                </p>
            </div>

            <div class="col-12">
                <h5> Kartu Kredit - Aggregator</h5>
                <p class="text-justify">
                    Jika Anda seorang pedagang yang menggunakan perjanjian agregator Fameo untuk pembayaran Kartu, permintaan pengembalian dana harus dilakukan melalui jingL. Anda dapat membuka Portal Administrasi Pedagang, mencari ID khusus yang harus Anda kembalikan, dan klik tombol Pengembalian Dana. Setelah menekan tombol, harap isi jumlah pengembalian uang dan alasan pengembalian uang kemudian tekan Kirim. Kami akan memproses permintaan Anda ke bank pada hari kerja berikutnya. Anda masih akan mendapat dana, tetapi kami akan memotong dana dari permintaan pembayaran Anda berikutnya.
                </p>
            </div>

            <div class="col-12">
                <h5> Kartu Kredit - Fasilitator</h5>
                <p class="text-justify">
                    Jika Anda seorang pedagang yang menggunakan perjanjian fasilitator Fameo untuk pembayaran Kartu, permintaan pengembalian dana harus dilakukan langsung melalui Bank. Silakan hubungi Solusi Anda untuk memberi Anda templat permintaan pengembalian dana.
                </p>
            </div>
        </div>
    </div>
</div>