
@{
    ViewData["Title"] = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box-white">
    <div id="myHeader">
        <div class="logo-header">
            <div class="coontainer-fluid">
                <div class="col-md-12">
                    <ul class="nav">
                        <li class="nav-item text-center pull-left">
                            <a class="nav-link" href="javascript:history.back()">
                                <div class="icon-img">
                                    <img src="/template/img/ic-back-white.png" style="width:42%;margin-left:-25%;margin-top:-8%" alt="" />
                                </div>
                            </a>
                        </li>
                        <li class="nav-item justify-content-center mr-center">
                            <div class="headerTops">
                                <img src="~/template/img/Jing_e 2.png" style="margin-left:-84%" alt="Alternate Text" />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-menu p-t-30">
        <ul class="nav">
           
            <li class="nav-item justify-content-center mr-center">
                <h5 class="nav-link ">Support</h5>
            </li>
        </ul>
    </div>
    <br />


    <div class="container">
        <div class="row">
            <div class="col-12">
                <p align="justify">We are sorry for the inconvinience cost by any change, How do we help you today?</p>
            </div>
            <div class="col-12">
                <form id="Frm_Help">
                    <div class="form-group">
                        <label for="SupportSubject">Subject</label>
                        <input type="text" class="form-control" id="SupportSubject">
                    </div>

                    <div class="form-group">
                        <label for="SupportDetail">Berikan informasi lebih detail</label>
                        <textarea class="form-control" id="SupportDetail" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="SupportEmail">Alamat Emailmu</label>
                        <input type="email" class="form-control" id="SupportEmail">
                    </div>

                    @*<div action="/file-upload" class="dropzone mb30" id="UploadForm">
            <div class="fallback">
                <input name="file" type="file" id="SupportUpload" multiple />
            </div>
        </div>*@

                    <button type="submit" class="btn btn-blue btn-primary m-b-20">Submit</button>
                </form>

            </div>

        </div>
    </div>
</div>


    @section scripts {
        <script type="text/javascript">
            Dropzone.options.UploadForm = {
                maxFilesize: 20
            }
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#Frm_Help').submit(function (e) {
                    e.preventDefault();
                    
                    var supportSubject = $("#SupportSubject").val();
                    var supportDetail = $("#SupportDetail").val();
                    var supportEmail = $("#SupportEmail").val();
                    var url = "@Url.Action("Support","Account")";
                    var jsonRequest = {
                        Subject: supportSubject,
                        Details : supportDetail,
                        EmailAddress : supportEmail
                    };

                    $.ajax({
                    url: url,
                    //cache: false,
                    //traditional: true,
                    type: "POST",
                    data: { model: jsonRequest},
                    //contentType: "application/json; charset=utf-8",
                    //async: false,
                    beforeSend:
                        function () {
                            //$("#spinner").show();
                        },
                    success: function (data) {

                        if (data == "OK") {
                            //window.location.href = "@Url.Action("Index","Home")";
                            history.back();
                        }

                        else {

                        }
                    },
                    error: function (jqXHR, textStatus, errorMessage) {
                        console.log(errorMessage);
                    }
                });
                })
            })

        </script>
    }