
@{
    ViewData["Title"] = "Tarikduit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box-white">
    <div id="myHeader">
        <div class="logo-header">
            <div class="coontainer-fluid">
                <div class="col-md-12">
                    <ul class="nav">
                        <li class="nav-item text-center pull-left">
                            <a class="nav-link" href="javascript:history.back()">
                                <div class="icon-img">
                                    <img src="/template/img/ic-back-white.png" style="width:42%;margin-left:-25%;margin-top:-8%" alt="" />
                                </div>
                            </a>
                        </li>
                        <li class="nav-item justify-content-center mr-center">
                            <div class="headerTops">
                                <img src="~/template/img/Jing_e 2.png" style="margin-left:-84%" alt="Alternate Text" />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   


    
    <div class="container" style="background: #fff;">
        <div class="row">
            
            <div class="col-12">
                <img src="~/template/img/Menarikfee.jpg" class="w-100" alt="Alternate Text" />
            </div>
               
        </div>

    </div>


    </div>