
@{
    ViewData["Title"] = "TermConds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box-white">
    <div id="myHeader">
        <div class="logo-header">
            <div class="coontainer-fluid">
                <div class="col-md-12">
                    <ul class="nav">
                        <li class="nav-item text-center pull-left">
                            <a class="nav-link" href="javascript:history.back()">
                                <div class="icon-img">
                                    <img src="/template/img/ic-back-white.png" style="width:42%;margin-left:-25%;margin-top:-8%" alt="" />
                                </div>
                            </a>
                        </li>
                        <li class="nav-item justify-content-center mr-center">
                            <div class="headerTops">
                                <img src="~/template/img/Jing_e 2.png" style="margin-left:-84%" alt="Alternate Text" />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-menu p-t-30">
        <ul class="nav">
            
            <li class="nav-item justify-content-center mr-center">
                <h2 class="nav-link ">Terms and Conditions</h2>
            </li>
        </ul>
    </div>


    <br />
    <div class="container" style="background: #fff;>
        <div class="row">
            <div class="col-12">
                <h5> Syarat dan Ketentuan</h5>
                <p class="text-justify">
                    DENGAN MENGGUNAKAN SITUS ATAU LAYANAN, ANDA MENYETUJUI PERSYARATAN INI. HARAP BACA DENGAN SEKSAMA.
                </p>
            </div>
            <div class="col-12">
                <h4> Untuk User</h4>
            </div>
            <div class="col-12">
                <h5>1. Fameo Video</h5>
                <p class="text-justify">
                    Melalui Situs dan Layanan, Anda memiliki kesempatan untuk membeli video yang dipersonalisasi ("Video Fameo") dari artis dan influencer ("Pengguna Bakat"). Anda akan mengirimkan permintaan untuk Video Fameo ke Influencer. Setelah permintaan Anda diterima, akun pembayaran Anda akan ditagih sesuai talent yang anda pilih.

                    Setelah menerima pembayaran penuh untuk Video Fameo Anda, Anda diberikan lisensi non-eksklusif di seluruh dunia untuk menggunakan Video Fameo untuk keperluan pribadi, non-komersial, dan non-promosi Anda sendiri. Video Fameo dilisensikan dan tidak dijual. Anda tidak boleh menjual kembali hak Anda di Video Fameo. Anda hanya dapat mensublisensikan hak Anda sebagaimana diperlukan agar Anda dapat menggunakan Video Fameo sebagaimana diizinkan dalam Ketentuan ini. Anda hanya dapat menggunakan Video Fameo sesuai dengan Ketentuan ini, termasuk Pembatasan Penggunaan yang Dapat Diterima di Bagian 5 di bawah ini. Jika Anda melanggar salah satu ketentuan Ketentuan, lisensi Anda untuk Video Fameo dihentikan.
                </p>
            </div>
            <div class="col-12">
                <h5>2. Ketentuan Tambahan</h5>
                <p class="text-justify">

                    Beberapa Layanan kami memiliki syarat dan ketentuan tambahan. Dengan menggunakan Layanan itu, Anda menyetujui Ketentuan Tambahan.
                </p>
            </div>
            <div class="col-12">
                <h5>3. Kelayakan</h5>
                <p class="text-justify">
                    Anda harus berusia minimal 18 tahun untuk menggunakan Situs atau Layanan. Jika Anda berada di bawah usia dewasa di negara tempat tinggal Anda, anak di bawah umur, orang tua atau wali Anda harus menyetujui Ketentuan ini atas nama Anda dan Anda hanya dapat mengakses dan menggunakan Situs dan Layanan dengan izin dari orang tua atau wali Anda.
                </p>
            </div>
            <div class="col-12">
                <h5>4. Kepemilikan</h5>
                <p class="text-justify">
                    Kami memiliki atau melisensikan semua hak, kepemilikan, dan kepentingan dalam dan untuk (a) Situs dan Layanan, termasuk semua perangkat lunak, teks, media, dan konten lainnya yang tersedia di Situs dan Layanan ("Konten Kami"); dan (b) merek dagang, logo, dan elemen merek kami ("Marks"). Situs dan Layanan, Konten Kami, dan Merek semuanya dilindungi oleh undang-undang. Tampilan dan nuansa Situs dan Layanan adalah hak cipta © Jingl Kreasi Indonesia. Semua hak dilindungi undang-undang. Anda tidak boleh menggandakan, menyalin, atau menggunakan kembali bagian dari HTML / CSS, Javascript, atau elemen atau konsep desain visual tanpa izin tertulis dari kami.
                </p>
            </div>
            <div class="col-12">
                <h5>5. Penggunaan Situs dan Layanan yang dapat diterima</h5>
                <p class="text-justify">
                    Anda bertanggung jawab atas penggunaan Situs dan Layanan, dan untuk setiap penggunaan Situs atau Layanan yang dibuat menggunakan akun Anda. Tujuan kami adalah untuk menciptakan pengalaman pengguna yang positif, bermanfaat, dan aman. Untuk mempromosikan tujuan ini, kami melarang jenis perilaku tertentu yang mungkin berbahaya bagi pengguna lain atau bagi kami. Saat Anda menggunakan Situs atau Layanan, Anda tidak boleh:
                    <ul class="m-l-10">
                        <li class="text-justify">Melanggar hukum atau peraturan apa pun;</li>
                        <li class="text-justify">Melanggar, atau menyalahgunakan kekayaan intelektual orang lain, privasi, publisitas, atau hak hukum lainnya;</li>
                        <li class="text-justify">Memposting, berbagi, atau meminta sesuatu yang ilegal, kasar, melecehkan, merusak reputasi, pornografi, tidak senonoh, tidak senonoh, cabul, benci, rasis, atau tidak menyenangkan;</li>
                        <li class="text-justify">Mengirim iklan atau komunikasi komersial yang tidak diminta atau tidak sah, seperti spam;</li>
                        <li class="text-justify">Menguntit, melecehkan, atau menyakiti orang lain;</li>
                        <li class="text-justify">Berkedok sebagai orang atau entitas atau melakukan aktivitas penipuan serupa lainnya, seperti phishing;</li>
                        <li class="text-justify">
                            Mengadvokasi, mendorong, atau membantu pihak ketiga mana pun dalam melakukan hal-hal di atas.
                            Anda mengakui bahwa kami tidak berkewajiban untuk memantau akses Anda (atau orang lain) ke atau penggunaan Situs atau Layanan, tetapi kami memiliki hak untuk melakukannya untuk mengoperasikan Situs atau Layanan, untuk memastikan kepatuhan Anda dengan Ketentuan ini , atau untuk mematuhi hukum yang berlaku atau perintah atau persyaratan pengadilan, badan administratif atau badan pemerintah lainnya.
                        </li>
                    </ul>

                </p>
            </div>
        </div>

    </div>
