<div id="myHeader">
    <div class="logo-header">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="headerTop">
                    <img src="~/template/img/Jing_e 2.png" alt="Logo Jingl" />
                    <div id="HeaderLoginForm">
                        @*<a href="#" class="btn" data-toggle="modal" data-target="#loginModal">Login</a> &nbsp;
                        <a href="@Url.Action("OnBoarding","Account")" class="btn btn">Daftar</a>*@
                    </div>
                  
                </div>
              
            </div>
        </div>
    </div>
</div>

